.category {
    display: block;
    position: absolute;
    padding-left: 62px;
    padding-top: 30px;
    color: #474d59;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    flex: 1;
}

.movie-list {
    flex: 4;
    padding: 45px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-poster { 
    cursor: pointer;
    border: 1px;
    border-radius: 3px;
    box-shadow: 5px 5px 10px 3px #c7cbce;
    margin: 6px;
    width: 286.22px !important;
    transition: transform 0.3s;
}

.movie-poster:hover {
    transform: scale(1.05);
}

.pagination {
    flex: 1;
    justify-content: center;
    margin-bottom: 70px;
    color: #3eb897;
    box-shadow:none !important;
    outline:0px !important;
}

.page-link {
    cursor: pointer !important;
    background-color: white !important;
    color: #b5b8c0 !important;
    box-shadow:none !important;
    outline:0px !important;
}

.page-link.first,
.page-link.last {
    color: #3eb897 !important;
}
.page-link.active {
    font-weight: 900 !important;
    color: #3eb897 !important;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1832.5px){
    .category {
        margin-left: 112px;
    }
}

@media screen and (max-width: 1280.5px){
    .movie-poster { 
        width: 280px !important;
    }
    .category {
        margin-left: 0px;
    }
}

@media screen and (max-width: 1024.5px){
    .movie-poster { 
        width: 292px !important;
    }
}

@media screen and (max-width: 393.5px) {
    .category {
        margin-left: -12px;
    }
}

@media screen and (max-width: 375.5px){
    .movie-poster { 
        width: 300px !important;
        padding: 0;
        margin-bottom: 6px;
    }
    .category {
        margin-left: -25px !important;
    }
    .movie-list {
        padding-top: 45px;
        padding-left: 45px;
    }
}