.category {
    display: block;
    position: absolute;
    padding-left: 50px;
    padding-top: 20px;
    color: #474d59;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
}

.movie-list {
    margin-top: 65px;
    padding: 45px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-poster { 
    border: 1px;
    border-radius: 3px;
    box-shadow: 5px 5px 10px 3px #c7cbce;
    margin: 6px;
    width: calc((100% - 12 * 6px) / 6);
    max-width: 100%;
}

.pagination {
    display: inline-block;
    justify-content: center;
    margin-bottom: 70px;
    color: #3eb897;
    background-color: white;
    box-shadow:none !important;
    outline:0px !important;
}

.page-link {
    cursor: pointer !important;
    background-color: white !important;
    color: #b5b8c0 !important;
    box-shadow:none !important;
    outline:0px !important;
}

.page-link.first,
.page-link.last {
    color: #3eb897 !important;
}
.page-link.active {
    font-weight: 900 !important;
    color: #3eb897 !important;
}