.details-container {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.background-img {
    pointer-events: none;
    position: fixed; 
    top: 65px;
    left: 0;
    height: 100%;
    width: 100%;
    filter: blur(15px);
    transform: scale(1.1);
    object-fit: cover;
    z-index: 0;
}

.top-buttons {
    flex: 1;
    display: flex;
    padding: 40px 30px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 24px;
    line-height: 24px;
    text-decoration: none;
    
}

.back-next-button {
    display: flex;
    position: relative;
    cursor: pointer;
    height: auto;
    align-items: center;
    transition: transform 0.3s;
}

.back-next-button:hover {
    color: white;
    transform: scale(1.1);
}

.back-button-full-size {
    display: inline;
}

.back-button-phone-size {
    display: none;
}

.next-button-full-size {
    display: inline;
}

.next-button-phone-size {
    display: none;
}

.left-arrow-img {
    display:block;
    margin-right: 35px;
    font-size: 16px;
}

.right-arrow-img {
    display:block;
    margin-left: 35px;
    font-size: 16px;
}

.main-content {
    flex: 1;
    display: flex;
    align-items: center;
    width: calc(100% - 200px);
    z-index: 3;
    margin: 80px 100px;
}

.poster {
    position: relative;
    border: 1px;
    box-shadow: 5px 5px 10px 3px #15151f;
    width: 271.98px;
}

.main-text {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 0 20px 30px;
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    font-weight: 900;
}

.add-to-favorite {
    opacity: .8;
    position: absolute;
    right: 0;
    top: -30px;
    cursor: pointer;
    border: 1px solid hsla(0, 0%, 100%, .5);
    border-radius: 4px;
    padding: 7px 8px 7px 10px;
    width: 120px;
    height: fit-content;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 16px;
}

.add-to-favorite-full-size {
    display: inline;
}

.add-to-favorite-phone-size {
    display: none;
}

.title {
    font-size: 36px;
    line-height: 36px;
}

.movie-details {
    padding-top: 20px;
    font-size: 22px;
    line-height: 22px;
}

br {
    display: none;
}

.score {
    display: inline;
    padding-right: 13px;
}

.rating {
    display: inline;
    padding-right: 13px;
    padding-left: 13px;
    border-right: 1px solid hsla(0, 0%, 100%, .5);
    border-left: 1px solid hsla(0, 0%, 100%, .5);
}

.release-date {
    display: inline;
    padding-left: 13px;
}

.overview {
    margin-top: 35px;
    padding: 15px;
    border-top: 1px solid hsla(0, 0%, 100%, .5);
    border-bottom: 1px solid hsla(0, 0%, 100%, .5);
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
}

@media screen and (max-width: 1280.5px){
    .add-to-favorite {
        top: 12px;
    }
}

@media screen and (max-width: 1024.5px){
    .add-to-favorite {
        top: 12px;
    }
    .poster {
        width: 240px;
    }
    .main-content {
        margin: 40px 100px;
    }
}

@media screen and (max-width: 414.5px) {
    .top-buttons {
        padding-top: 15px;
    }
    .back-button-full-size {
        display: none;
    }
    .back-button-phone-size {
        display: inline;
    }
    .next-button-full-size {
        display: none;
    }
    .next-button-phone-size {
        display: inline;
    }
    .left-arrow-img {
        display:block;
        margin-right: 10px;
        font-size: 16px;
    }
    .right-arrow-img {
        display:block;
        margin-left: 10px;
        font-size: 16px;
    }
    .poster {
        width: 150px;
        position: absolute;
        top: 177px;
        left: 40px;
        z-index: 2;
    }
    .main-content {
        margin: 10px;
        width: 100%;
    }
    .add-to-favorite {
        border: 2px solid white;
        top: 22px;
        right: 50px;
        padding: 0;
        width: 40px;
        font-size: 30px;
    }
    .add-to-favorite-full-size {
        display: none;
    }
    .add-to-favorite-phone-size {
        display: inline;
    }
    .average-info {
        display: flex;
        flex-direction: column;
        padding-left: 140px;
    }
    br{
        display: inline;
    }
    .title {
        position: absolute;
        top: 290px;
        position: absolute;
        font-size: 26px;
        line-height: 26px;
    }
    .overview {
        margin-top: 120px;
        line-height: 16px;
    }
    .phone-size-movie-details {
        display:inline-block;
        border: none;
        width: 130px;
        margin-left: 30px;
        font-size: 16px;
    }
    .main-text {
        padding: 10px 55px 79px 30px;
    }
    .rating {
        padding: 30px 0 30px 0;
    }
    .score {
        padding: 0;
    }
    .release-date {
        padding: 0;
    }
}

@media screen and (max-width: 375.5px){
    .poster {
        width: 150px;
        position: absolute;
        top: 154px;
        left: 25px;
        z-index: 2
    }
}