.user-profile {
    cursor: pointer;
    position: relative;
    border: 1px solid #ffffff;
    border-radius: 3px;
    padding: 5px;
    display: flex;
    width: 110px;
    height: fit-content;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
}

.user-profile:hover {
    color: #ffffff;
}

.user-profile-img {
    display: inline-block;
    vertical-align:middle;
    margin-left: 10px;
}

.user-dropdown {
    z-index: 100;
    border: 1px solid #ffffff;
    border-radius: 3px;
    position: fixed;
    width: 110px;
    top: 5%;
    right: 30px;
    padding: 5px;
    text-align: center;
    background: #474d59;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
}

.user-dropdown:hover {
    color: #ffffff;
    text-decoration: none;
}

@media screen and (max-width: 1832.5px){
    .user-dropdown {
        top: 5.5%;
    }
}

@media screen and (max-width: 1280.5px){
    .user-dropdown {
        top: 6%;
    }
}

@media screen and (max-width: 1024.5px){
    .user-dropdown {
        top: 8%;
    }
}

@media screen and (max-width: 820.5px){
    .user-dropdown {
        top: 4%;
    }
}

@media screen and (max-width: 414.5px){
    .user-dropdown {
        top: 5.3%;
    }
}

@media screen and (max-width: 375.5px){
    .user-dropdown {
        top: 7%;
    }
}