.user-profile {
    cursor: pointer;
    position: relative;
    border: 1px solid #ffffff;
    border-radius: 3px;
    padding: 5px;
    display: flex;
    width: 110px;
    height: fit-content;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
}

.user-profile:hover {
    color: #ffffff;
}

.user-profile-img {
    display: inline-block;
    vertical-align:middle;
    margin-left: 10px;
}

.user-dropdown {
    border: 1px solid #ffffff;
    border-radius: 3px;
    position: fixed;
    width: 110px;
    top: 5%;
    right: 30px;
    padding: 5px;
    text-align: center;
    background: #474d59;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
}

.user-dropdown:hover {
    color: #ffffff;
    text-decoration: none;
}